<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html"><span class="icon fa-home style1" style="size:120%"><span class="label">Lorem</span></span>  Home</a></li>
            <li><a href="About me.html"><span class="icon fa-newspaper-o style1" style="size:120%"><span class="label">Lorem</span></span>  About me</a></li>	
			<li><a href="Projects.html"><span class="icon fa-television style1" style="size:120%"><span class="label">Lorem</span></span>  Projects</a></li>	
			<li><a href="gallery.html"><span class="icon fa-picture-o style1" style="size:120%"><span class="label">Lorem</span></span>  Gallery</a></li>
			<li><a href="https://yashasjoshiblog.wordpress.com" target="_blank"><span class="icon fa-rss style1" style="size:120%"><span class="label">Lorem</span></span>  My Blog</a></li>	
			<li><a href="Documents/Resume.pdf"><span class="icon fa-file-o style1" style="size:120%"><span class="label">Lorem</span></span>  Resume</a></li>	
          </ul>
		  <h1><span class="icon fa-certificate style2" style="size:120%"><span class="label">Lorem</span></span>	Spotlight</h1>
		  <ul>
		  <li></li>
			<li style="text-align:justify; font-size:80%">Recently, one of my research papers got published in an International Journal. Go check out the link under ECE projcets.</li>
			<li style="text-align:justify; font-size:80%">Completed the third internship at a software company called ProfitNX.</br>2<sup>nd</sup> July, 2017.</li>
		  </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
